* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #f0f2f5;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

.container .left img {
    width: 300px;
    margin: -28px;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    max-width: 1060px;
    margin-inline: auto;
    padding: 0 40px;
    gap: 80px;
}

.container .left {
    margin-top: -120px;
}

h2 {
    font-weight: normal;
    margin-top: 16px;
    line-height: 1.3;
    font-size: 27px;
}

.container .right {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.form-container {
    padding: 16px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 396px;
    margin-bottom: 30px;
}

form input {
    padding: 16px;
    border-radius: 16px;
    font-size: 16px;
    border: 1px solid #dddfe2;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

form input:focus::placeholder {
    color: #a9a9a9
}

form input:focus {
    outline: 1px solid #1877f2;
}

form a {
    font-size: 14px;
    color: #1877f2;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dddfe2;
}

form a:hover {
    text-decoration: underline;
}

.btn {
    background-color: #1877f2;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.btn.green {
    font-size: 18px;
    background-color: #42b72a;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: -10px;
}

.btn.green:hover {
    background-color: #36a420;
}


.right p {
    font-size: 16px;
}

.right p a {
    color: #000;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer-margin {
    width: 975px;
    margin: 0 40px;
}

.language {
    border-bottom: 1px solid #dddfe2;
}

.language ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;
    padding: 0;
    align-items: center;
    gap: 12px
}

.language ul li a {
    color: #737373;
    text-decoration: none;
    cursor: pointer;
}

.language ul li a:hover {
    text-decoration: underline;
}

.more ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;
    column-gap: 16px;
    row-gap: 6px;
}

.more ul li a {
    color: #737373;
    text-decoration: none;
    cursor: pointer;
}

.more ul li a:hover {
    text-decoration: underline;
}

.copyright {
    margin: 20px 0;
    color: #737373;
    font-size: 12px;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    h2 {
        font-size: 24px;
        width: 400px;
    }

    .container .left {
        margin-top: 40px;
    }
}