* {
    box-sizing: border-box;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

select {
    border: none;
    outline: none;
    color: rgb(93, 108, 123);
    font-size: 12px;
}

form input.form-input {
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 16px 16px;
    font-size: 16px;
    border: 0.5px solid #ccd3db;
    border-radius: 10px;
    background-color: white;
}

form input:hover {
    outline: 0.5px solid black;
}

form input::placeholder {
    color: rgb(93, 108, 123);
}

form input:focus::placeholder {
    color: rgb(155, 158, 184);
}

.btn {
    font-family: Optimistic, "Segoe UI Historic", Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-weight: 500;
    background-color: white;
    height: 44px;
    margin-top: 6px;
    margin-bottom: 6px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: #e4e6eb;
}

.login-btn {
    background-color: #0064e0;
    color: white;
    margin-top: 18px;
}

.login-btn:hover {
    background-color: #0053b8;
}

.forgot-btn {
    background-color: white;
    color: black;
}

.facebook-btn {
    border: 0.5px solid #ccd3db;
    margin-top: 46px;
    margin-bottom: 6px;
}

.create-btn {
    border: 0.5px solid #0064e0;
    color: #0064e0;
}

.meta {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    border: 1px solid #dde2e8;
    height: 683px;
}

.right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    border-right: 3px solid #dde2e8;
    width: 57.3%;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instagram-logo {
    align-self: flex-start;
    margin-bottom: -11px;
    margin-top: 20px;
    margin-left: 20px;
}

.description {
    text-align: center;
    max-width: 630px;
    width: 100%;
}

.gradient-text {
    background: linear-gradient(to right, #ff5c00, #ff0069, #d300c5);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.text {
    font-family: "Instagram Sans Regular";
    font-size: 42px;
    margin: 8px 0;
    line-height: 1.5;
}

.login-container {
    width: 100%;
    padding: 0 52px 0 52px;
    flex-direction: column;
}

.paragraph {
    font-family: Optimistic, "Segoe UI Historic", Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 8px;
    padding-right: 6px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-left: 16px;
  margin-right: 16px;
}

.footer-margin {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 52px;
}

.more {
    margin-top: 16px;
}

.more ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    row-gap: 3px;
}

.more ul li a {
    font-size: 12px;
    color: #737373;
    text-decoration: none;
    cursor: pointer;
}

.more ul li a:hover {
    text-decoration: underline;
}

.conf {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
}

.copyright {
    margin-top: 0;  
    color: #737373;
    font-size: 12px;
}

#instagram-logo {
    width: 75px;
    height: auto;
}

#instagram-phone {
    width: 430px;
    height: auto;
}

#facebook-logo {
    width: 15px;
    height: auto;
    margin-right: 5px;
}

#meta-logo {
    width: 70px;
    height: auto;
}



@media (max-width: 1025px) {
    .container {
        flex-direction: column;
        height: auto;
        border: none;
        min-height: 100vh;
    }

    .left {
        border-bottom: 1px solid #dde2e8;
        width: 100%;
        height: auto;
        padding: 20px 0;
    }

    .content {
        display: none;
    }

    .right {
        border: none;
        width: 100%;
        height: auto;
        padding: 40px 0;
    }

    .login-container {
        max-width: 552px;
        margin: 0 auto;
        padding: 0;
    }

    .instagram-logo {
        padding: 0 6px 5px 6px;
        align-self: center;
    }

    .footer {
        border-top: 1px solid #dddfe2;
    }

    #instagram-logo {
        width: 60px;
        height: auto;
    }
}