h1 {
    color:#0a0bff80;
    font-size:50px;
    border:#0a0bff80;
    border-style: double;
    border-radius: 40px;
}

p {
    color:#ff00006f;
    font-size: 30px;
    border:#ff00006f;
    border-style: dashed;
    border-radius: 30px;
}